*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:aliceblue;
}
div{
    display: block;
    margin-right:100px;
    margin-left:100px;
    background: #ffffff;
    border: 1px solid gray;
    box-shadow: 1px 1px 2px black;
    border-radius: 10px;
}
div ul  li {
    align-items: center;
    margin-left:50px;
    font-size:30px
}
div strong{
    font-size:40px;
}